@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans');

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

/*
===HEADER====
*/

header {
	background-color: #313234;
}
.container {
	max-width: 1200px;
	margin: auto;
	width: 100%;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}
nav ul>li {
	display: inline-block;
}
nav ul>li>a {
	line-height: 50px;
	padding: 0 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul>li>a:hover {
	background: #ccc;
}
header  img {
	margin-top: 10px;
}

/*
===HERO===
*/

.hero {
	background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/280h/6RFW2S45FC.jpg");
	background-size: cover;
	height: 100vh;
}
.slogan {
	background-color: rgba(0,0,0,0.5);
	float: right;
	max-width: 800px;
	margin: 200px auto;
	padding: 15px 110px 15px 50px;
	color: white;
	text-transform: uppercase;
	font-size: 28px;
}
strong {
	font-family: "Anton", sans-serif;
}

/*
===TRAVEL===
*/

* {
	box-sizing: border-box;
}
[class*="col-"] {
	width: 100%;
	float: left;
}


section>.travel {
	margin: 50px auto;
	text-align: center;
}
.travel {
	padding-top: 15px;
}
.travel i {
	font-size: 50px;
	text-align: center;
	color: white;
	padding: 35px;
	border-radius: 15%;
	background-color: blue;
}
.travel .col-m-4 {
	text-align: center;
	cursor: pointer;
}
.travel .col-m-4:hover h3 {
	color: lightblue;
}
.travel .col-m-4:hover i {
	color: lightblue;
}

/*
===CONTENT====
*/

.content {
	text-align: center;
}
.content p {
	padding: 0 5px;
}

/*
===GALLERY====
*/

.gallery {
	width: 100%;
}
.gallery .col-m-2 {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.gallery .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background: white;
	cursor: pointer;
}
.gallery i.fa-camera-retro {
	color: white;
	position: absolute;
	top: calc(50% - 5px);
	left: calc(50% - 40px);	
}
.gallery i.fa-search {
	color: white;
	position: absolute;
	top: calc(50% - 5px);
	right: calc(50% - 30px);
}	
.gallery .col-m-2:hover .layer  {
	background: rgba(0, 0, 0, 0.5);
	visibility: visible;
}

/*
===MEMBERS====
*/

.members {
	padding: 35px;
}
.team-item {
	margin: 0 auto;
	width: 120px;
	height:120px;
	border-radius: 50%;
	background-image: url("https://images.pexels.com/photos/52502/map-south-america-atlas-52502.jpeg?h=350&auto=compress&cs=tinysrgb");
	position: relative;
}
.col-m-3 p {
	text-align: center;
	font-weight: bold;
}
.members .layer {
	position: absolute;
	visibility: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.members .layer p {
	position: absolute;
	bottom: calc(50% - 30px);
	left: calc(50% - 35px);
}

.members .team-item:hover .layer {
	color: white;
	background-color: rgba(0, 0, 0, .5);
	visibility: visible;
}

/*
===PROMOTION====
*/

.promotion {
	margin: 0 auto;
	background-color: #7f8c8d;
	width: 100%;
}
.promotion .row {
	display: flex;
	justify-content: center;
	align-items: center;
}
.promotion .row > .col-m-4 {
	overflow: hidden;
}
.promotion img {
	float: right;
}
.promotion h2 {
	text-transform: uppercase;
	font-family: "Anton", sans-serif;
	padding: 0 20px;
	color: white;
	letter-spacing: 2px;
}
.promotion p {
	padding: 0 20px;
	color: white;
}
.promotion .col-m-6:last-child {
	font-style: italic;
}

/*
===NUMBERS====
*/

.numbers p  {
	color: blue;
	line-height: 5px;
}
.numbers h2 {
	font-family: "Anton", sans-serif;
}
.numbers .col-m-3 {
	text-align: center;
}

/*
===FOOTER====
*/

.footer {
	background: #2E2C2C;
	color: white;
	margin: 0;	
}
.footer h2 {
	text-transform: uppercase;
}

.footer .col-m-4 .col-m-4:first-child {
	font-weight: bold;
}
.footer .col-m-4 p {
	margin: 0 0 10px 0;
	padding-right: 10px;
}
.footer .col-m-8 p {
	margin: 0 0 10px 0;
}
.footer .fa {
	color: white;
	background-color: #12C4C4;
	padding: 10px 10px;
	cursor: pointer;
	width: 36px;
	height: auto;
}
.footer .fa:hover {
	background-color: #002E2E;
}

.footer .col-m-12 {
	background-color: #1F1E1E;
	text-align: center;
}
.footer [class*="col-"] {
	padding: 0 10px;
}


@media (max-width: 767px){
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
	
	nav ul {
		float: none;
	}
	nav ul>li {
		display: block;
		text-align: center;
	}
	header > nav {
		text-align: center;
	}
	[class*="col-"] {
		text-align: center;
	}


	.slogan {
		font-size: 1.5em;	
		padding: 0 10px 0 50px;
	}
	
	
	.container {
		padding: 0 5px;
	}
	
	
	.gallery .col-m-2 > img {
		width: 100%;
	}
	.gallery .layer {
		visibility: visible;
		background: none;
	}
	.gallery .col-m-2:hover .layer {
		background: none;
	}
	
	
	.promotion .row {
		display: block;
	}
	.promotion img {
		float: none;	
	}
	.promotion p {
		margin: 0 0 10px 0;
	}
	
	
	.members p {
		margin-top: 0;
	}
	
	
	.numbers h2, .numbers p {
		margin: 0;
	}
	.numbers p {
		margin-bottom: 15px;
	}


	.footer h2, .footer p {
		text-align: center;
	}
	.footer .fa {
		margin-bottom: 10px;
		text-align: center;
	}	
	.footer .col-m-12 p {
		margin-bottom: 16px;
	}		
}

@media (min-width: 768px) {
	/* For desktop: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}